* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.body{
    background-color: white;
}

/* Header and Navigation section */
header{
    padding: 20px;
    background-color: #2a607c;
    color: #ffffff;
} 

header h1{
    display: inline-block;
    font-size: 48px;
}

.profile-photo{
    border-radius: 50%;
    height: 450px;
    margin-left: 350px;
}

header nav{
    padding-top: 17px;
    margin-right: 18px;
    float: right;
    font-size: 22px;
}

header nav ul{
   list-style-type: none; 
}

header nav ul a{
    display: inline-block;
    border: 10px;
    margin-left: 20px;
    color: #ffffff;
    text-decoration: none;
}

header nav ul a:hover{
    border-bottom: red 2px solid;
}

aside{
    display: flex;
    flex-direction: column;
    font-size: 32px;
}

/* About me section */
.about-me{
    display: flex;
}

.about-me-body{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    flex-direction: column;
    gap: 25px;
    font-size: 20px;
    text-align: center;
}

.aside-about-me{
    width: 50%;
    border-right: #2a607c 5px solid;
    min-height: 150px;
    text-align: right;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-decoration: underline;
}

/* Work section */
.work{
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between

}

.work-body{
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
    flex-basis: 75%;
}

.flex-item{
    display: flex;
    min-height: 150px;
    flex-basis: 50%;
    border: 5px solid var(--accent-clr);
    background-image: url(./images/Screenshot\ 2023-03-23\ 182306.png);
    background-position: top;
}

.work-1{
    flex-basis: 91%;
    min-height: 300px;
    margin: 10px;
    align-items: flex-end;
    padding: 15px;
}

.work-2{
    flex-basis: 45%;
    margin: 10px;
    align-items: flex-end;
    padding: 15px;
}

.work-3{
    flex-basis: 45%;
    margin: 10px;
    align-items: flex-end;
    padding: 15px;
}
.aside-work{
    width: 20%;
    border-right: #2a607c 5px solid;
    border-top: 15px;
    min-height: 650px;
    text-align: right;
    padding: 15px;  
    text-decoration: underline;
} 

/* Contact Me section */
.contact-me{
    display: flex;
}

.contact-me-body{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    text-decoration: underline;
    width: 78%;
    margin: 15px;
    padding: 25px;
    font-size: 28px;
}

.aside-contact-me{
    width: 20%;
    border-right: #2a607c 5px solid;
    min-height: 150px;
    text-align: right;
    padding: 15px;
    margin-top: 20px;
    text-decoration: underline;
}